*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-wrapper {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 1rem 2rem;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.subTitle img{
  width: 10rem;
  border-radius: 50%;
  border: 2px solid #000000
}
.content h3 {
  font-weight: bold;
  margin: 0.3rem;
}

.content p {
  margin: 0 auto;
  text-align: center;
  text-align: justify;
  max-width: 80vw;
  text-indent: 30px;
}
.content p s {
  color: #e00;
}

.content a img{
  max-width: 3rem;
}

.content ol {
  font-weight: bold;
  margin: 1rem;
  display: inline-block;
  text-align: center;
}

.content ol li {
  font-weight: normal;
  text-transform: capitalize;
  text-align: left;
  align-items: center;
}
.content ol li input {
  margin-right: .2rem;
}
.progression {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.progression table,th,tr,td{
  padding: .2rem; 
  border: 1px solid #000;
  border-collapse: collapse;
}
footer a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

footer a:hover {
  transform: scale(1.1);
}
